.rouge
{
    background-color: red;
    height:100px;
}

.blue
{
    background-color: deepskyblue;
    height:100px;
}

.green
{
    background-color: green;
    height:100px;
}
.yellow
{
    background-color: yellow;
    height:100px;
}
.container-fluid{
    padding:0;
    margin-top:0;
    margin-bottom:0;
}
.bg
{
    background-image: url ("../img/cherry.jpg");
 height:100%;
    background-position: center;
    opacity:.7;
    background-repeat: no-repeat;
}

html, body{
    margin:0;
    height:100%;