<!-- By da Silva  mars,2019 -->

body
{   width:700px;
    margin:auto;
}

p, li
{
    font-family:sans-serif; Verdana,tahoma,arial;
    font-size:10px;
    color:#000000;
    text-align: center;
    background: aliceblue;

}
img
{
    float: LEFT;
}



