


.parallax {

    background-image:url("../img/parallax.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}


.parallax2 {

    background-image:url("../img/parallax3.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.parallax3 {

    background-image:url("../img/parallax2.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.carreJaune{
    background-color: rgba(224, 217, 29,.5);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: black;
}

.carreGris{
    background-color: rgba(255, 255, 255,.5);
    color: black;
}
html, body{
    margin:0;
    Height:100%;
}
.hauteur25
{height: 25%;

}
.hauteur100
{height: 100%;
}
.h-90{
height: 90%;
}

.h-10{
height: 10%;
}

.container-fluid
{
    margin:0;
    padding:0;

}

h6{

    font-size:32px;
    color: rgba(41, 45, 44, 0.79);
    text-align: left;

}
h7{

    font-size:32px;
    color: rgba(41, 45, 44, 0.79);
    text-align: left;
    color: white;

}
h1{

    font-size:15px;
    color: rgba(41, 45, 44, 0.79);
    text-align: left;

}
h9{

    font-size:15px;
    color: rgba(41, 45, 44, 0.79);
    text-align: left;
    color: white;
}
html,body {
    margin:0; height:100%;
}

.margen{
nargin-top:100px;
margin-bottom:100px;
}
.but{
    background-color: #e84819;
    padding: 20px 24px;
    border-radius: 8px;
    color: white;
}


.vert
{ padding: 50px;
  background-color:rgb(51, 181, 115);

}
.blue
{ padding: 50px;
 background-color:rgb(30, 161, 189);

}

.beige
{ padding: 50px;
background-color:rgb(201, 188, 133);

}

.orange
{
    color:orangered;
}
.button_2
{background-color: #e7e7e7;
color: black;
border-radius: 8px;
}