/*par Andrea*16-03-2019*/

body
{
    width: 1000px;
    margin:auto;
    background-color: black;
    background-image: url("etoileMort.jpg");
    background-repeat: no-repeat;

}


p
{
    text-align: justify;
    color : #ffffff;
    font-size:14px;

}
a{
    color : #ffffff;
     text-align: center;
    font-size:24px;
}


.solo{
    width: 400px;
    margin:auto;
    display:block;
}
@font-face {
    font-family: starjedi;
    src: url("starjedi.ttf");
}
.star{
    font-family: starjedi;
    font-size:140px;
    color : yellow;


}
}
.back{
    width: 80px;
    margin:auto;
    display:block;


}
h1
{
    text-align: center;
    color : #ffffff;

}
h2
{
    text-align: center;
    color : #ffffff;
    font-size:72px;
}
h3
{
    text-align: center;
    font-size:60px;
    color :yellow;
}
h4
{
    text-align: center;
    color : #ffffff;
    font-size:44px;
}