/*par Andrea*16-03-2019*/

body
{
    width:900px;
    margin:auto;
background-color: black;
    background-image: url("etoileMort.jpg");
    background-repeat: no-repeat;

}

h1,h2,h4
{
        text-align: center;
         color : #ffffff;
}
p
{
    text-align: justify;
    color : #ffffff;
    font-size:14px;
}
h3
{
    text-align: center;
    color : yellow;
}
a{
    color : #ffffff;
     text-align: center;
    font-size:24px;
}

img{
    width: 400px;
    margin:auto;
    display:block;
}

@font-face {
    font-family: starjedi;
    src: url("starjedi.ttf");
}
.star{
    font-family: starjedi;
    font-size:78px;
    color : yellow;


}
.back{


    background-image: url("etoileMort.jpg");
    background-repeat: no-repeat;

}